
<div class="col-xs-12">
    <div class="row">
        {{ include('@Ged/Utils/flashBag.html.twig', {'flashbag' : app.session.flashbag}) }}
    </div>
</div>

{# Displaying Files #}
<div class="col-xs-12">
    <div class="row">
        {% block list_file_table %}
            {% if folder_actions|length > 0 %}
            <form action="{{ path('file_batch')  }}" method="post">
                {#<input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">#}
                <input type="hidden" name="currentFolder" value={{ folder_id }}>
                {% endif %}
                <div class="box">
                    {% if files|length > 0 %}
                        {#<div class="box-header">#}
                        {#</div>#}
                        <div class="box-body">
                            <table id="files_table" class="table table-condensed table-hover" role="grid" aria-describedby="files">
                                <thead>
                                <tr role="row">
                                    {% if file_actions|length > 0 %}
                                        <th class="nosort">
                                            <input type="checkbox" class="minimal" id="file_checkbox_all">
                                        </th>
                                    {% endif %}
                                    {% for field_description in file_headers %}
                                        <th>
                                            {% spaceless %}
                                                {{ field_description.label }}
                                            {% endspaceless %}
                                        </th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for file in files %}
                                    <tr role="row">
                                        {% if file_actions|length > 0 %}
                                            <td class="file_checkbox_field">
                                                <input type="checkbox" class="minimal" name="idx[]" value={{ file.id }}>
                                            </td>
                                        {% endif %}
                                        {% spaceless %}
                                            {% for  field in file_fields %}
                                                <td>
                                                    {% if file[field].timestamp is defined  %}
                                                        {{ file[field]|date }}
                                                    {% elseif field == 'name'  %}
                                                        <a href={{ path('file_show', {'id':file.id}) }}>
                                                            {{ file[field] }}
                                                        </a>
                                                    {% elseif field == 'createdBy' or field == 'updatedBy' %}
                                                        <a href={{ path('user_show', {'userid':file[field]['id']}) }}>
                                                            <span class="badge">
                                                                <i class="fa fa-fw fa-user"></i>
                                                                {{ (file[field])['usernameCanonical'] }}
                                                            </span>
                                                        </a>
                                                    {% elseif file[field] is null %}
                                                        <span class="text-muted">No content</span>
                                                    {% else %}
                                                        {{ file[field] }}
                                                    {% endif %}
                                                </td>
                                            {%  endfor %}
                                        {% endspaceless %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            {% if file_actions|length > 0  %}
                                <div class="form-inline clearfix pull-left" id="file_batch_block" >

                                    <label class="checkbox" for="file_all_elements" class="form-control">
                                        <input type="checkbox"  class="minimal" name="all_elements" id="file_all_elements">
                                        All elements
                                        ({{ files|length }})
                                    </label>

                                    <select name="action" style="width: auto; height: auto" class="form-control">
                                        {% for action in file_actions %}
                                            <option value="{{ action.name }}">{{ action.name|capitalize }}</option>
                                        {% endfor %}
                                    </select>

                                    <input type="submit" class="form-control btn btn-small btn-primary" value="Submit">
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="box-body">
                            <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{ 'NO FILES' }}</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            <span class="progress-description">
                                {#I need to add security control#}
                                <a data-toggle="modal" data-target="#fileCreate" class="sonata-action-element"
                                   href="{{ path('file_create', {id: folder_id}) }}">
                                    <i class="fa fa-plus-circle"></i>
                                    Add new
                                </a>
                            </span>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                </div>
                {% endblock %}
            {% if file_actions|length > 0 %}
        </form>
        {% endif %}
    </div>
</div>


{# File create modal#}

<div id="fileCreate" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create File</h4>
            </div>
            <div class="modal-body">
                Loading...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>