{% extends '@Ged/default_layout.html.twig' %}

{% block page_title %}
    <i class="fa fa-fw fa-file"></i>{{ path|last.name }}
{% endblock %}

{% block stylesheets%}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bundles/ged/AdminLTE2/plugins/select2/select2.min.css') }}">#}
{% endblock %}

{% block page_subtitle%}
{% endblock %}

{% block avanzu_breadcrumb %}
    <ol class="breadcrumb">
        <i class="fa fa-home"></i>
        {% for element in path %}
            {% if loop.last %}
                <li class="active">
                    {{ element.name }}
                </li>
            {% else %}
                <li>
                    <a href="{{ path('folder_show', {'id': element.id}) }}">{{ element.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
{% endblock %}

{% block page_content %}
    <div class="row" style="margin: auto">

        {# Displaying tabs#}
       <div class="row" style="margin: auto;">
            <nav class="navbar navbar-default" role="navigation" style="margin-bottom: auto">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><i class="fa fa-th"></i></a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav" id="tabs">
                            <li class="active" id="folder_tab"><a data-toggle="tab" href="#content" id="content_link">
                                    <i class="fa fa-fw fa-file"></i></i>Content</a>
                            </li>
                            <li id="file_tab"><a data-toggle="tab" href="#edit" id="edit_link">
                                    <i class="fa fa-fw fa-file"></i>Edit</a>
                            </li>
                            <li id="permission_tab"><a data-toggle="tab" href="#permission" id="permission_link">
                                    <i class="fa fa-fw fa-users"></i>Permissions</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="tab-content">
            {# Displaying File's Content #}
            <div id="content"  class="tab-pane fade in active" style="margin-top: 15px">
                {{ include('GedBundle:CRUD:fileContent.html.twig',
                {'file':        file,
                 'path':        path,
                 'versions':    versions,
                 'creators':    creators,
                    })
                }}
            </div>
            {# Displaying File's Edit #}
            <div id="edit" class="tab-pane fade"  style="margin-top: 15px">
                {{ include('GedBundle:CRUD:fileEdit.html.twig')}}
            </div>
            {# Displaying Permission #}
            <div id="permission" class="tab-pane fade"  style="margin-top: 15px">
                {{ include('GedBundle:CRUD:filePermission.html.twig',
                {
                    'file': file,
                    'permissions' : permissions,
                    })
                }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {#<script src="{{ asset('bundles/ged/AdminLTE2/plugins/select2/select2.full.min.js') }}"></script>#}
    {#<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>#}

{% endblock %}

{% block  javascripts_inline%}

    <script>

        var file_id = "{{ file.id }}";
        var user_id = "{{ user.id }}";
        var img = "{{ asset(user.avatar) }}";
        $("document").ready( function(){

//          Tags events

            $('#new_tag').click( function(){
                var input_tag = $('#input_tag').val();
                var file_tags = $(".tag_name").text();
                if( input_tag.length >= 2 )
                {
                    $.ajax({
                        type: 'post',
                        url: Routing.generate('tag_add', { id:file_id }),
                        data: { tag:  input_tag, file_tags: file_tags},
                        beforeSend: function(){
                        },
                        success: function(data){

                            var $element = $("<span/>").addClass("tag label label-info")
                                    .append($("<span/>").addClass("tag_name").append(data.tag))
                                    .append($("<a/>").append($("<i:>")
                                            .addClass("remove-tag glyphicon glyphicon-remove-sign glyphicon-white")));
                            $(".tags_content").append($element);
                        },
                    });
                }
            });

            $(".tags_content").on("click", "a", (function(event){

                console.log('event drop');
                var $target = $(event.target).parent().prev();
                $.ajax({
                    type: 'post',
                    url: Routing.generate('tag_drop', { id:file_id}),
                    data: { tag: $target.text()},
                    beforeSend: function(){

                    },
                    success: function(data){
                        if( data.result = true )
                        {
                            $target.parent().remove();
                        }
                    },
                });
            }))

//          Comments events

            $('#comment-input').keypress( function(event){
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if(keycode == '13'){
                    event.preventDefault();
                    var $comment = $('#comment-input');
                    if( $comment.val().length > 0 )
                    {
                        $.ajax({
                            type: 'post',
                            url: Routing.generate('comment_add', { id:file_id }),
                            data: { comment:  $comment.val(), user: user_id},
                            beforeSend: function(){
                                console.log($comment.val());
                                $comment.val('');
                            },
                            success: function(data){
                                console.log(data);
                                if( data.status )
                                {
                                    var t= "";
                                    t+= "<div class='box-comment'>";
                                    t+= "<img class='img-circle img-sm' src='" + img + "' alt='User Image'>";
                                    t+= "<div class='comment-text'>";
                                    t+= "<span class='username'>";
                                    t+= "{{ user.username }}";
                                    t+= "<span class='text-muted pull-right'>" + data.date + "</span>";
                                    t+= "</span>";
                                    t+= data.comment;
                                    t+= "</div>";
                                    t+= "</div>";

                                    $("#comments-output").prepend(t);
                                }

                                console.log(img)

                            }
                        });

                    }
                }
            });

//          Permissions events

            $('.minus-button').click(function(){
                var permission_id = $(this).closest("tr").attr("id");
                var level = $(this).closest("tr").attr("level");
                var name = "";

                if ( level < 2 )
                {
                    level++;
                    if ( level == 0 )
                        name="Control";
                    else if( level == 1)
                        name = "Edit";
                    else if( level == 2)
                        name = "View";
                    $(this).next().text(name);
                    $(this).closest("tr").attr("level", level);
                    console.log("minus id = "+permission_id+" level = "+level);

                    $.ajax({
                        type: 'post',
                        url: Routing.generate('file_permission_change', { id:permission_id }),
                        data: { level: level},
                        beforeSend: function(){
                        },
                        success: function(data){
                            console.log(data.status);
                        }
                    });


                }
            });

            $('.plus-button').click(function(){
                var permission_id = $(this).closest("tr").attr("id");
                var level = $(this).closest("tr").attr("level");
                var name = "";

                if ( level > 0 )
                {
                    level--;
                    if( level == 2)
                        name = "View";
                    else if( level == 1)
                        name = "Edit";
                    else if( level == 0)
                        name = "Control";
                    $(this).prev().text(name);
                    $(this).closest("tr").attr("level", level);
                    console.log("plus id = "+permission_id+" level = "+level);

                    $.ajax({
                        type: 'post',
                        url: Routing.generate('file_permission_change', { id: permission_id }),
                        data: { level: level},
                        beforeSend: function(){
                        },
                        success: function(data){
                            console.log(data.status);
                        }
                    });

                }
            });


            $('.remove-permission').click(function(){
                var permission_id = $(this).closest("tr").attr("id");

                $.ajax({
                    type: 'post',
                    url: Routing.generate('file_permission_remove', { id: permission_id }),
                    beforeSend: function(){
                    },
                    success: function(data){
                        console.log(data.status);
                    }
                });

                $(this).closest("tr").remove();

                {#{#}
                    {#$("#permissions-content").remove();#}

                    {#var t = "";#}
                    {#t += "<div class='box-body'>";#}
                    {#t += "<div class='info-box'>";#}
                    {#t += "<span class='info-box-icon bg-aqua'><i class='fa fa-arrow-circle-right'></i></span>";#}
                    {#t += "<div class='info-box-content'>";#}
                    {#t += "<span class='info-box-text'>{{ 'NO PERMISSIONS'}}</span>";#}
                    {#t += "<div class='progress'>";#}
                    {#t += "<div class='progress-bar' style='width: 0%'></div>";#}
                    {#t += "</div>";#}
                    {#t += "<span class='progress-description'>";#}
                    {#t += "<a>";#}
                    {#t += "<i class='fa fa-plus-circle'></i>";#}
                    {#t += "Add new";#}
                    {#t += "</a>";#}
                    {#t += "</span>";#}
                    {#t += "</div>";#}
                    {#t += "</div>";#}
                    {#t += "</div>";#}

                    {#$("#permissions-box").prepend(t);#}
                {#}#}
            });
        });



    </script>

{% endblock %}
