{% extends 'GedBundle::starter.html.twig' %}


{% block main_content %}
    <section class="content">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">File</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                {{ form_start(form) }}
                    <div class="box-body">
                        <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.nature) }}
                            {{ form_errors(form.nature) }}
                            {{ form_widget(form.nature) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.description) }}
                            {{ form_errors(form.description) }}
                            {{ form_widget(form.description) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.version) }}
                            {{ form_widget(form.version) }}
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <div class="form-group">
                            {{ form_widget(form.create) }}
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
{% endblock %}
