{% extends '@Ged/default_layout.html.twig' %}

{% block page_title %}
    <i class="fa fa-fw fa-file"></i>{{ path|last.name }}
{% endblock %}

{% block page_subtitle%}
{% endblock %}

{% block avanzu_breadcrumb %}
    <ol class="breadcrumb">
        <i class="fa fa-home"></i>
        {% for element in path %}
            {% if loop.last %}
                <li class="active">
                    {{ element.name }}
                </li>
            {% else %}
                <li>
                    <a href="{{ path('folder_show', {'id': element.id}) }}">{{ element.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
{% endblock %}

{% block page_content %}
    <div class="row" style="margin: auto">

        {# Displaying tabs#}
       <div class="row" style="margin: auto;">
            <nav class="navbar navbar-default" role="navigation" style="margin-bottom: auto">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><i class="fa fa-th"></i></a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav" id="tabs">
                            <li class="active" id="folder_tab"><a data-toggle="tab" href="#content" id="content_link">
                                    <i class="fa fa-fw fa-file"></i></i>Content</a>
                            </li>
                            <li id="file_tab"><a data-toggle="tab" href="#edit" id="edit_link">
                                    <i class="fa fa-fw fa-file"></i>Edit</a>
                            </li>
                            <li id="permission_tab"><a data-toggle="tab" href="#permission" id="permission_link">
                                    <i class="fa fa-fw fa-users"></i>Permissions</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="tab-content">
            {# Displaying File's Content #}
            <div id="content"  class="tab-pane fade in active" style="margin-top: 15px">
                {{ include('GedBundle:CRUD:fileContent.html.twig',
                {'file':        file,
                 'path':        path,
                 'versions':    versions,
                 'creators':    creators,
                    })
                }}
            </div>
            {# Displaying File's Edit #}
            <div id="edit" class="tab-pane fade"  style="margin-top: 15px">
                {{ include('GedBundle:CRUD:fileEdit.html.twig')}}
            </div>
            {# Displaying Permission #}
            <div id="permission" class="tab-pane fade"  style="margin-top: 15px">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


{% endblock %}

{% block  javascripts_inline%}

    <script>

        var file_id = "{{ file.id }}";
        $("document").ready( function(){
            $('#new_tag').click( function(){
                var input_tag = $('#input_tag').val();
                var file_tags = $(".tag_name").text();
                if( input_tag.length >= 2 )
                {
                    $.ajax({
                        type: 'post',
                        url: Routing.generate('tag_add', { id:file_id }),
                        data: { tag:  input_tag, file_tags: file_tags},
                        beforeSend: function(){
                            console.log('before ajax add request is sent');
                            console.log(input_tag);
                        },
                        success: function(data){
                            console.log('after ajax add success');
                            console.log(data);
                            var $element = $("<span/>").addClass("tag label label-info")
                                    .append($("<span/>").addClass("tag_name").append(data.tag))
                                    .append($("<a/>").append($("<i:>")
                                            .addClass("remove glyphicon glyphicon-remove-sign glyphicon-white")));
                            $(".tags_content").append($element);
                        },
                    });
                }
            });

            $("i.remove-tag").click(function(event){
                var $target = $(this).parent().prev();
                $.ajax({
                    type: 'post',
                    url: Routing.generate('tag_drop', { id:file_id}),
                    data: { tag: $target.text()},
                    beforeSend: function(){
                        console.log('before ajax drop request is sent');
                        console.log($target.text());
                    },
                    success: function(data){
                        console.log('after ajax add success');
                        console.log(data);
                        if( data.result = true )
                        {
                            $target.remove();
                        }
                    }
                });
            })
        });

    </script>

{% endblock %}
