{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href='{{ asset('bundles/ged/AdminLTE2/plugins/iCheck/all.css') }}'>
{% endblock %}

{% block page_content %}

    {# Displaying FlashBag #}
    <div class="col-xs-12">
        <div class="row">
            {{ include('@Ged/Utils/flashBag.html.twig', {'flashbag' : app.session.flashbag}) }}
        </div>
    </div>

    {# Displaying Folders #}
    {{ include('GedBundle:CRUD:folderList.html.twig',
            {'folder_id':     folder_id,
            'path':           path,
            'children':       children,
            'folder_headers': folder_headers,
            'folder_fields' : folder_fields,
            'folder_actions': folder_actions})
    }}



    {# Displaying Files #}



    {#{{ include('@GedBundle:CRUD:fileList.html.twig') }}#}


{% endblock %}

{% block avanzu_admin_footer %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('bundles/ged/AdminLTE2/plugins/iCheck/icheck.js') }}"></script>

{% endblock %}

{% block javascripts_inline %}
    <script>

        // dataTables for folders_table & files_table
        $(function(){
            $("#folders_table").DataTable({
                "paging": true,
                "ordering": true,
                "bInfo" : false,
            })
        });

        $(function(){
            $("#files_table").DataTable({
                "paging": true,
                "ordering": true,
                "bInfo" : false,
            })

        });

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-aero'
        });

        //Move the pagination block to box footer for folders & files
        $(function(){
            $('#folders_table_paginate').insertAfter('#folder_batch_block');
        });

        $(function(){
            $('#files_table_paginate').insertAfter('#file_batch_block');
        });

        {% block batch_javascript %}
        jQuery(document).ready(function ($) {
            $('#folder_checkbox_all').on('ifChanged', function () {
                $(this)
                        .closest('table')
                        .find('td.folder_checkbox_field input[type="checkbox"]')
                        .iCheck($(this).is(':checked') ? 'check' : 'uncheck')
                ;
            });

        });

        jQuery(document).ready(function ($) {
            $('#file_checkbox_all').on('ifChanged', function () {
                $(this)
                        .closest('table')
                        .find('td.file_checkbox_field input[type="checkbox"]')
                        .iCheck($(this).is(':checked') ? 'check' : 'uncheck')
                ;
            });

        });
        {% endblock %}

    </script>
{% endblock %}
