{% block search %}
    <form action="{{ path('search_advanced') }}" method="post"{{form_enctype(form) }}>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;<span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Search</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                {{ form_errors(form.input) }}
                {{ form_widget(form.input) }}
            </div>
            <div class="form-group">
                {{ form_label(form.options) }}
                {{ form_errors(form.options) }}
                {{ form_widget(form.options) }}
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                {{ form_widget(form.search) }}
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>
{% endblock %}